.satu,.dua{
    width: 200px;
    height: 200px;
    margin: 50px ;
    margin-left: 300px;
}
.satu{

 
    background-color: #008000;
    border: 10px solid ;

    padding: 15px;
  
    border-image:
        url("hearts.png")  /* source */
      20 /                    /* slice */
         20px /    /* width */
         20px       /* outset */
        round;                  /* repeat */
        box-shadow: 25px 25px black;
}




/* .satu{
     background-color: green;
     box-shadow: 15px 15px black;
    border: 10px solid transparent;
        padding: 15px;    
        border-image: url('hearts.png') 30  / 19px round;
        border-image-outset: 10px;
      
} */
/* .dua{
    background-color: blue;

    border-image: url("border1.png") 30 round;
    box-shadow: 0px 0px 20px; 
} */.dua{
    background-color: blue;
    border: 10px solid transparent;
  padding: 10px;
  border-image: url('border1.png') 30  / 19px round;
  box-shadow: 0px 0px 20px;
  border-image-outset: 10px;
} 